{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n custom_unfold django_vite static %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </h1>
{% endblock %}

{% block extrahead %}
{% comment %} <link rel="stylesheet" href="{% static 'css/tailwind.css' %}"> {% endcomment %}
{% vite_hmr_client %}


    {% if plausible_domain %}
        <script defer data-domain="{{ plausible_domain }}" src="https://plausible.io/js/script.js"></script>
    {% endif %}    
{% endblock %}

{% block content %}
    {% include "unfold/helpers/messages.html" %}


    {% include "admin/react/reactAdmin.html" %}

{% endblock %}