{% load unfold %}

<div 
    x-data="{title:'', total:'', items:[], fecha:'', bastones:'', pesoInicial:'', sobraInicial:'', sobraFinal:'', pesoFinal:'', perdida:'', consumo:'', modalIsOpen:false}"
    x-effect="perdida = parseInt(pesoInicial) - parseInt(pesoFinal)"
    class="{% if card_included == 1 %}-m-6{% else %}lg:border lg:rounded-md lg:shadow-sm{% endif %} overflow-x-auto lg:dark:border-gray-800">
   
    <div x-cloak x-show="modalIsOpen" x-transition.opacity.duration.200ms x-trap.inert.noscroll="modalIsOpen" @keydown.esc.window="modalIsOpen = false" @click.self="modalIsOpen = false" class="fixed inset-0 z-30 flex items-end justify-center bg-black/20 p-4 pb-8 backdrop-blur-md sm:items-center lg:p-8" role="dialog" aria-modal="true" aria-labelledby="defaultModalTitle">
        <!-- Modal Dialog -->
        <div x-show="modalIsOpen" x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity" x-transition:enter-start="opacity-0 scale-50" x-transition:enter-end="opacity-100 scale-100" 
        class="flex max-w-lg flex-col gap-4 overflow-hidden rounded border border-zinc-300 bg-zinc-50 text-neutral-600 dark:border-zinc-700 dark:bg-zinc-800 dark:text-zinc-200">
            <!-- Dialog Header -->
            <div class="flex items-center justify-between border-b border-zinc-300 bg-zinc-100/60 p-4 dark:border-zinc-700 dark:bg-zinc-900/20">
                <h3 id="defaultModalTitle" class="font-semibold tracking-wide text-center text-neutral-900 dark:text-zinc-50" >
                    <span x-text="title"></span>
                </h3>
                <button @click="modalIsOpen = false" aria-label="close modal">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <!-- Dialog Body -->
            <div class="p-4 flex flex-col gap-4">
                <p>Ralada realizada no dia <span class="font-semibold" x-text="fecha"></span></p> 
                
                <div>
                    <p class="mb-2">
                        A continução se presentan os produtos produzidos nesa Ralada 
                    </p>
                    <table class="table-auto w-full text-left bg-gray-200 rounded">
                        <thead class="">
                            <tr>
                                <th class="p-2">Produto</th>
                                <th class="p-2">Peso</th>
                                <th class="p-2">Qtd</th>
                                <th class="p-2">Produzido</th>
                            </tr>
                        </thead>
                        <tbody class="">
                        <template x-for="item in items">
                                <tr>
                                    <td class="p-2" x-text="item.nombre"></td>
                                    <td class="p-2"><span x-text="item.peso"></span> g</td>
                                    <td class="p-2"><span x-text="item.cantidad"></span> Uds</td>
                                    <td class="p-2"><span x-text="item.pesoProducido"></span> g</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>


                <article>
                    <p class="mb-2">
                        A continução se apresentam informações detalhadas do procesamento da <span class="font-semibold" x-text="title"></span>
                    </p>
                    
                    {% comment %} pesoInicial:'', sobraInicial:'', sobraFinal:'', pesoFinal:'', perdida:'', consumo:'' {% endcomment %}
                   <div class="rounded p-2 bg-gray-200">
                        <div class="flex justify-between gap-1 rounded p-2">
                            <span class="font-semibold">Bastões procesados</span>
                            <p><span x-text="bastones"></span> Uds</p>
                        </div>

                        <div class="flex -mx-2 bg-gray-300 justify-between gap-1 rounded p-2 px-4">
                            <span class="font-semibold">Peso dos Bastões</span>
                            <p><span x-text="pesoInicial"></span> g</p>
                        </div>


                        <div class="flex justify-between gap-1 rounded p-2">
                            <span class="font-semibold">Sobra depois de Ralar</span>
                            <p><span x-text="sobraInicial"></span> g</p>
                        </div>

                        <div class="flex -mx-2 bg-gray-300 justify-between gap-1 rounded p-2 px-4">
                            <span class="font-semibold">Sobra depois de Socar</span>
                            <p><span x-text="sobraFinal"></span> g</p>
                        </div>

                        <div class="flex justify-between gap-1 rounded p-2">
                            <span class="font-semibold">Peso Gurana procesado</span>
                            <p><span x-text="pesoFinal"></span> g</p>
                        </div>

                        <div class="flex -mx-2 bg-gray-300 justify-between gap-1 rounded p-2 px-4">
                            <span class="font-semibold">Perca</span>
                            <p><span x-text="perdida"></span> g</p>
                        </div>

                        <div class="flex justify-between gap-1 rounded p-2">
                            <span class="font-semibold">Consumo</span>
                            <p><span x-text="consumo"></span> g</p>
                        </div>

                    </div>

                </article>

                
            </div>
            
        </div>
    </div>
   
    <table class="block border-gray-200 border-spacing-none border-separate w-full lg:table"
        
    >
        
            <thead class="text-gray-900 dark:text-gray-100">
                <tr class="bg-gray-50 dark:bg-white/[.02]">
                    <th class="align-middle font-semibold py-2 text-left text-sm whitespace-nowrap sortable column-description hidden px-3 lg:table-cell {% if card_included == 1 %}first:pl-6 last:pr-6{% endif %}">
                        Produção
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="block lg:table-row-group">
                {% for produccion in table_context %}
                    <tr 
                    x-data="{prodcutosItems:[
                                {% for producto in produccion.detalles.all %}
                                    {
                                        'nombre': '{{producto.producto.nombre}}',
                                        'cantidad':'{{producto.cantidad}}',
                                        'peso': '{{producto.producto.peso}}',
                                        'pesoProducido': '{{producto.peso_producido}}'
                                    },
                                {% endfor %}
                                ],
                            }"
                    class="{% if striped == 1 %}{% cycle '' 'bg-gray-50 dark:bg-white/[.02]' %}{% endif %} block {% if not card_included == 1 %}border mb-3 rounded-md shadow-sm{% else %}border-t{% endif %} lg:table-row lg:border-none lg:mb-0 lg:shadow-none dark:border-gray-800">
                            <td class="px-3 py-2 align-middle flex border-t border-gray-200 font-normal gap-4 min-w-0 overflow-hidden text-left before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto first:border-t-0 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800 {% if card_included == 1 %}lg:first:pl-6 lg:last:pr-6{% endif %}" 
                            data-label="Produçaão">
                                {{produccion.ralada}}
                            </td>
                            <td class="px-3 py-2 align-middle flex border-t border-gray-200 font-normal gap-4 min-w-0 overflow-hidden text-left before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto first:border-t-0 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800 {% if card_included == 1 %}lg:first:pl-6 lg:last:pr-6{% endif %}" 
                            data-label="Detalhes"
                            >
                                <div class="ml-auto w-fit" >
                                    <button @click="modalIsOpen = true; title='{{produccion.ralada}}', fecha='{{produccion.ralada.fecha_ralada}}', items=prodcutosItems, bastones='{{produccion.ralada.cantidad_bastones}}', pesoInicial='{{produccion.ralada.peso_inicial}}', pesoFinal='{{produccion.ralada.peso_final}}', sobraInicial='{{produccion.ralada.sobra_inicial}}', sobraFinal='{{produccion.ralada.sobra_final}}', consumo='{{produccion.consumo}}' "
                     
                                    
                                    type="button" class="text-gray-800 cursor-pointer whitespace-nowrap rounded text-center text-sm font-medium tracking-wide transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-700 active:opacity-100 active:outline-offset-0 dark:bg-sky-600 dark:text-white dark:focus-visible:outline-sky-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                                          </svg>
                                    </button>
                                    
                                </div>
                                
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>